* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.background {
    border: 5px solid #8b0000;
    background-color: #8b0000;
    display: flex;
    flex-flow: row-reverse wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.bartender-box,
.menu-box {
    flex: 1 1 0;
    height: 90vh;
}

.bartender-box {
    border: 5px solid blue;
    background-color: dodgerblue;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.bartender-box img {
    border: 5px solid #8b0000;
    max-width:100%;
    max-height:100%;
}

.menu-box {
    border: 5px solid green;
    background-color: greenyellow;
    display: flex;
    margin: 5px;
}

@media screen and (max-width: 480px) {
    .background {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .bartender-box,
    .menu-box {
        width: 90vw;
        height: auto;
    }

    .menu-box {
        flex: 2 1 auto;
    }
  }